html,
body {
  height: 100%;
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
}

.container {
  width: 25%;
  padding: 3rem;
}

.title {
  text-align: center;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
