html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.tab {
  display: flex;
  justify-content: left;
  height: 7%;
}

.tablinks {
  display: inline-block;
  background-color: #f1f1f1;
  text-decoration: none;
  color: black;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.tablinks:hover {
  background-color: #dddddd;
}

.active {
  background-color: #dddddd;
}

.tabcontent {
  display: none;
}

.cal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cal_container {
  width: 25%;
}

.title {
  text-align: center;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/*************************************/

.table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.table thead {
  background-color: #e2efda;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table th,
.table td {
  border: 1px solid black;
}
